.entry-content .love-button {
	background: #f14864;
	color: #fff;
	padding:11px 22px;
	display:inline-block;
	border:0px;
	text-decoration: none;
    box-shadow: 0px 6px #d2234c;
    position:relative;
}

.entry-content .love-button:hover{
	top:3px;
    box-shadow: 0px 3px #d2234c;
}

.entry-content .love-button:active{
	top:6px;
    box-shadow: none;
}


#love-count {
	background: #eee;
    box-shadow: 0px 6px #ddd;	
	color: #666;
	padding:11px 22px;
	display:inline-block;
}